s<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		Insert title here
	</title>
</head>
<table border>
	<thead>
		
		<tr>
			<td>songname </td>
			<td>songartist </td>
			<td>genere </td>
			<td>link </td>
		</tr>
	</thead>
<tbody>
	<tr th:each="songslist:${songslist}">
		<td th:text=${songslist.songname}></td>
		<td th:text=${songslist.songartist}></td>
		<td th:text=${songslist.genere}></td>
		
		<td>
			<audio controls>
				<source th:src=${songslist.link} type="audio/mpeg">
			</audio>
			</td>
	</tr>
	</tbody>
</table>
</body>
</html>